<script type="text/template" id="pokemon-list-item-template">
  <li class="poke-list-item" data-id= "<%%= pokemon.get('id') %>">
    <ul>
      <%% ['name', 'poke_type'].forEach(function (attr) { %>
        <li>
          <%%= attr %>: <%%= pokemon.get(attr) %>
        </li>
      <%% }); %>
    </ul>
  </li>
</script>

<script type="text/template" id="pokemon-detail-template">
  <div class="detail">
    <img src="<%%= pokemon.escape('image_url') %>"></img>
    <ul>
      <%% for (var attr in pokemon.attributes) { %>
        <%% if (pokemon.get(attr) && attr !== 'id' && attr !== 'image_url') %>
        <li><strong> <%%= attr %> : </strong><%%= pokemon.escape(attr) %></li>
      <%% }; %>
    </ul>
  </div>
</script>

<script type="text/template" id="toy-list-item-template">
  <ul class="toys">
    <li class="toy-list-item" data-id="<%%= toy.get('id') %>" data-pokemon-id="<%%= toy.get('pokemon_id') %>">
      <%% ['name', 'happiness', 'price'].forEach(function (attr) { %>
        <%%= attr %> : <%%= toy.escape(attr) %><br>
      <%% }); %>
    </li>
  </ul>
</script>

<script type="text/template" id="toy-detail-template">
  <div class="detail">
    <img src="<%%= toy.escape('image_url') %>"><br>
    <ul>
      <%% ["id", "happiness", "name", "price"].forEach(function (attr) { %>
        <li><strong> <%%= attr %> : </strong><%%= toy.escape(attr) %></li>
      <%% }); %>
    </ul>
    <select data-pokemon-id="<%%= toy.get('pokemon_id') %>" data-toy-id="<%%= toy.get('id') %>">
      <%% pokes.forEach(function (pokemon) { %>
        <option value="<%%= pokemon.id %>"
          <%% if (pokemon.id === toy.get('pokemon_id')){ %>
             <%%= "selected" %>
            <%% } %>>
          <%%= pokemon.escape("name") %>
        </option>
      <%% }); %>
    </select>
  </div>
</script>

<script type="text/template" id="pokemon-form-template">
</script>
