<script type="text/template" id="pokemon-list-item-template">
  <li class="poke-list-item" data-id= <%%= pokemon.get('id') %>>
    <ul>
      <%% ['name', 'poke_type'].forEach(function (attr) { %>
        <li>
          <%%= attr %>: <%%= pokemon.get(attr) %>
        </li>
      <%% }); %>
    </ul>
  </li>
</script>

<script type="text/template" id="pokemon-detail-template">
  <div class="detail">
    <img src="<%%= pokemon.escape('image_url') %>"></img>
    <ul>
      <%% for (var attr in pokemon.attributes) { %>
        <%% if (pokemon.get(attr) && attr !== 'id' && attr !== 'image_url') %>
        <li><strong> attr: </strong><%%= pokemon.escape(attr) %></li>
      <%% }; %>
    </ul>
  </div>
</script>

<script type="text/template" id="toy-list-item-template">
</script>

<script type="text/template" id="toy-detail-template">
</script>

<script type="text/template" id="pokemon-form-template">
</script>
